<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Vue Hello</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Vue Js -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>

    <!-- Vue JS Area -->
    <div id="root">
      <!-- RGB SELECTOR -->
      <h1>RGB SELECTOR</h1>

      <!-- IMMAGINI -->
      <img class="personaggi-ico" @click="selectPinguino" src="./img/pinguino.png" alt="pinguino">
      <img class="personaggi-ico" @click="selectLeone" src="./img/leone.png" alt="leone">
      <img class="personaggi-ico" @click="selectAlpaca"src="./img/alpaca.png" alt="alpaca">
      <!-- /IMMAGINI -->


      <!-- BOX1 -->
      <h2 class="box-name">{{box1Name}}</h1>
      <!-- <input v-model="box1Img"> -->
      <button class='shape-circle bg-red' @click="subtract10red"> -10 </button>
      <input class="border-red"   v-model="colore1R">
      <button class='shape-circle bg-red' @click="add10red"> +10 </button>
      <button class='shape-circle bg-green' @click="subtract10green"> -10 </button>
      <input class="border-green" v-model="colore1G">
      <button class='shape-circle bg-green' @click="add10green"> +10 </button>
      <button class='shape-circle bg-blue' @click="subtract10blue"> -10 </button>
      <input class="border-blue"  v-model="colore1B">
      <button class='shape-circle bg-blue' @click="add10blue"> +10 </button>
      <label for="bg-transparency">Transparency =></label>
      <button name="bg-transparency" class='shape-circle' @click="subtract1transp"> -1 </button>
      <input class="border"       v-model="colore1T">
      <button class='shape-circle' @click="add1transp"> +1 </button>
      <label for="btn-border-radius">Border-radius =></label>
      <button class='shape-circle' @click="subtract10BorderRadius"> -10 </button>
      <input class="border"       v-model="box1BorderRadius">
      <button class='shape-circle' @click="add10BorderRadius"> +10 </button>

      <div class="box-1" :style="'background-color: rgba( ' + colore1R + ',' + colore1G +',' + colore1B + ',' + colore1T +');border-radius:' + box1BorderRadius + 'px;' ">
        <img class="personaggi" :style="'border-radius: ' + box1BorderRadius +'px;'" :src="'img/' + box1Img + '.png'">


      </div>
      <!-- /BOX1 -->

      <!-- BOX2 -->
      <h2 class="box-name">{{box2Name}}</h1>
      <input class="border-red"   v-model="colore2R">
      <input class="border-green" v-model="colore2G">
      <input class="border-blue"  v-model="colore2B">
      <input class="border"       v-model="colore2T">
      <div class="box-2" :style="'background-color: rgba( ' + colore2R + ',' + colore2G +',' + colore2B + ',' + colore2T +');' ">

      </div>
      <!-- /BOX2 -->
    </div>
    <!-- /Vue JS Area -->
  </body>
  <script src="./js/main-bonus.js" charset="utf-8"></script>
</html>
